<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.bochman.upapp">

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".presentation.UpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".presentation.masterDetail.POIMasterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.masterDetail.POIDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".presentation.masterDetail.POIMasterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.masterDetail.POIMasterActivity" />
        </activity>
        <activity
            android:name=".presentation.favourites.FavouritesActivity"
            android:parentActivityName=".presentation.masterDetail.POIMasterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.masterDetail.POIMasterActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".presentation.SmartActivity$ConnectivityWatcher" />
        <receiver android:name=".presentation.SmartActivity$PowerWatcher" />

        <service android:name=".api.PoiIntentService"
            android:exported="false" />
        <service android:name=".api.HttpPoiSearchIntentService"
            android:exported="false" />
        <service android:name=".api.PhotoIntentService"
            android:exported="false" />

        <!-- make sure within the application tag, otherwise app will crash with XmlResourceParser errors -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.bochman.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>